# .gitattributes
# تنظیمات پایه: تشخیص خودکار برای همه فایل‌ها
* text=auto

# فایل‌های کد و کانفیگ را با LF ذخیره کن (حتی در ویندوز)
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.sh text eol=lf
*.webp binary

# فایل‌های خاص
.gitattributes text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf
.license text eol=lf
